<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Easy Parking - Reservation</title>
    <!--

    Template 2085 Neuron

    http://www.tooplate.com/view/2085-neuron

    -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

</head>
<body>

<!-- PRE LOADER -->

<div class="preloader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
    <!--
    <div class="sk-spinner sk-spinner-wordpress">
         <span class="sk-inner-circle"></span>
    </div>-->
</div>

<!-- Navigation section  -->

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <i class="fa fa-car fa-3x" aria-hidden="true"></i>
            <a href="index.html" class="navbar-brand">Easy Parking</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="parkingzonedetails.html">Parking Zone Details</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="checkavailability.html">Check Availability</a></li>
                <li class="active"><a href="reservation.html">Reservation</a> </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="test.html">test</a> </li>
            </ul>
            <div align="right">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>



<!-- Home Section -->

<section id="home" class="main-contact parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Parking Lot Reservation</h1>
            </div>

        </div>
    </div>
</section>

<!-- Reservation Section -->


<section id="availability">
    <div class="container">
        <div class="row">

            <div class="container">
                <h2>Make Reservations</h2>

                <form action="#" method="post">
                    <div class="row">

                        <div class="col-md-6">
<!--Reservation Details-->
                            <label>Reservation Details</label>
                            <div class="form-group">

                                <input type="text" name="startDate" class="form-control" ng-model="registration.id"  placeholder="Start Date" required/>

                            </div>



                            <div class="form-group">

                                <input type="text" name="startTime" class="form-control" ng-model="registration.id" placeholder="Start Time" required/>

                            </div>

                            <div class="form-group">

                                <input type="text" name="endDate" class="form-control" ng-model="registration.id" placeholder="End Date" required/>

                            </div>

                            <div class="form-group">

                                <input type="text" name="endTime" class="form-control" ng-model="registration.id" placeholder="End Time" required/>

                            </div>
                            <!--Personal Details-->
                            <label>Personal Details</label>
                            <div class="form-group">

                                <input type="text" name="firstName" class="form-control" ng-model="registration.id" placeholder="First Name" required/>

                            </div>
                            <div class="form-group">

                                <input type="text" name="lastName" class="form-control" ng-model="registration.id" placeholder="Last Name" required/>

                            </div>

                            <div class="form-group">

                                <input type="text" name="address" class="form-control" ng-model="registration.id" placeholder="Address" required/>

                            </div>
                            <div class="form-group">

                                <input type="text" name="city" class="form-control" ng-model="registration.id" placeholder="City" required/>

                            </div>

                            <div class="form-group">

                                <input type="text" name="zip" class="form-control" ng-model="registration.id" placeholder="Postal Code/ Zip" required/>

                            </div>
                            <div class="form-group">

                                <input type="text" name="state" class="form-control" ng-model="registration.id" placeholder="State/ Province" required/>

                            </div>
                            <!--Contact Information-->
                            <label>Contact Information</label>
                            <div class="form-group">

                                <input type="text" name="email" class="form-control" ng-model="registration.id" placeholder="Email" required/>

                            </div>

                            <div class="form-group">

                                <input type="text" name="mobile" class="form-control" ng-model="registration.id" placeholder="Mobile" required/>

                            </div>
                            <div class="form-group">

                                <input type="text" name="phone" class="form-control" ng-model="registration.id" placeholder="Phone" required/>

                            </div>
                            <!--Additional Information-->
                            <div class="form-group">

                                <input type="text" name="notes" class="form-control" ng-model="registration.id" placeholder="Notes" required/>

                            </div>
                            <br>

                            <div class="form-group">
                                <button name="check" type="button" class="btn btn-success btn-lg"> Make Reservation</button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>
<!-- Footer Section -->

<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-md-offset-1 col-sm-6">
                <h3>Easy Parking</h3>
                <p>Choose from hundreds of available slots, and reserve your parking space in advance to avoid the inconvenience.</p>
                <div class="footer-copyright">
                    <p>Copyright &copy; 2017 Easy Parking Solutions </p>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1 col-sm-6">
                <h3>Talk to us</h3>
                <p><i class="fa fa-globe"></i> 266 Temple Street, Colombo, Sri-Lanka</p>
                <p><i class="fa fa-phone"></i> 011-2346745</p>
                <p><i class="fa fa-save"></i> info@easyparking.com</p>
            </div>

            <div class="clearfix col-md-12 col-sm-12">
                <hr>
            </div>

            <div class="col-md-12 col-sm-12">
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-dribbble"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.parallax.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>